In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Load the data file 

df1 = pd.read_csv('BI-Intern first_purchases.csv')
df1.head()

,User First Purchase Month,First Purchase Product Line,User ID,Purchase ID,Venue ID
0,1.5.2020,Restaurant,57b48aece14f6d64522f8c5f,5ec6b23c96741b6db6266639,5d7a32a73b546fccd88a05e9
1,1.5.2020,Restaurant,59f4803cdf196473b7fc124d,5ec6be1e712a4248e67d2bf0,5cd16542c7420059cc10b792
2,1.5.2020,Restaurant,5a427fbbea63d5000aff0ade,5ec7f07674bbff7edcb5be0d,5e7bce9ae360062306b4a233
3,1.5.2020,Restaurant,5a8c70b58fac51000b2ca9d8,5eac48651db7a19612824809,5e6ce90a7455f89bbb00be37
4,1.5.2020,Restaurant,5a9efa9bab3442000c2ba457,5eca9ed670a4dafe5de07698,5ea18277857aaa1b337ee201

In [3]:
df2 = pd.read_csv('BI-Intern purchases.csv')
df2.head()

,Purchases Time Delivered,Product line,User ID,Purchase ID,Venue ID
0,1.8.2020,Restaurant,55080d6585f6661a3b37f7a5,5f3d81ef6cce0eeb05225f98,5e8b2c8be050b99f26647804
1,1.8.2020,Restaurant,55080d6585f6661a3b37f7a5,5f3c11f5a90667e766b04c19,5e8b2c8be050b99f26647804
2,1.7.2020,Retail store,556202537f84a43ac29ec7cb,5f0aec594c3cbeb4049ea36a,5ec2ab4401f812138e435c89
3,1.7.2020,Retail store,556202537f84a43ac29ec7cb,5f184a3c88046da058c5ed1d,5ec2ab4401f812138e435c89
4,1.5.2020,Restaurant,57b48aece14f6d64522f8c5f,5ecf98f34d3d68dc996dad7a,5cb4425ae93cce000d20612f

In [4]:
# Divide the two data files by product line

df3 = df1[df1['First Purchase Product Line']=="Restaurant"]
df4 = df1[df1['First Purchase Product Line']=='Retail store']
df5 = df2[df2['Product line']=='Restaurant']
df6 = df2[df2['Product line']=='Retail store']

In [5]:
# Exclude the users whose first purchase were before May 2020

df7 = df5[df5['User ID'].isin(df3['User ID'])]
df8 = df6[df6['User ID'].isin(df4['User ID'])]

In [6]:
# Save the files as csv

df3.to_csv('Restaurant_New user.csv',index=False)
df4.to_csv('Retail_New user.csv',index=False)
df7.to_csv('Restaurant_New user purchase.csv',index=False)
df8.to_csv('Retail_New user purchase.csv',index=False)